body{
    background-color: rgb(88, 202, 255);
    padding: 70px;
}
h1{
    color: blue;
}
li{
    color: blue;
}
/* .middle{
    margin-top: 10px;
    margin-left: 30px;
} */
/* .mid{
    margin-top: 64px;
    margin-left: 232px;
} */